<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleAppSwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SyneriseCarouselNotificationContentExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>SyneriseCarouselNotificationContentExtensionObjC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>SyneriseSingleMediaNotificationContentExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>SyneriseSingleMediaNotificationContentExtensionObjC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D401F0D214A64180000F229</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D401F21214A64430000F229</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DF81EBB20B8608B009AAC66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF2F9A7A24C83A3600BCD289</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF5FF88325017EB0004554E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF5FF89225017EDC004554E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF6A42B624F50F6300C591AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFC037FB2422201600FDF7B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFD3E70A242114F300AE7502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
